<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h1 class="float-md-start mb-0">TechSavvE</h1>
      </div>
    </header>

    <main class="px-3">
      <h1>Hi, My Name is Erika</h1>
      <p class="lead">I am a Full Stack Software Engineer</p>
      <p></p>
      <p></p>
      <p></p>
      <h2>Skills</h2>
      <app-skill-graphic></app-skill-graphic>
      <ng-container></ng-container>
      <p class="lead">
      </p>
    </main>

    <footer class="mt-auto text-white-50">
    </footer>
  </div>
</body>
